div{
    color: white;
    text-align:center;
    margin-left:25%;
    width:50%;
margin-top: 15%;
     text-transform: uppercase;
  font-family: "Libre Baskerville", serif;

}

img{
    border:5px solid white;
    width:100%;

}
html{ background: black;}